<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans:100|Poppins:700,400|Roboto&display=swap" rel="stylesheet">
    <title>AstralItm</title>
</head>
<body>
    <div class="circle"></div>
    <header class="header flex">
        <div class="rowLogo">
            <div class="logo">
                <p>Hola</p>
            </div>
        </div>
        <div class="rowItemsMenu flex">
            <a href="#">Personal</a>
            <a href="#">Personal</a>
            <a href="#">Personal</a>
        </div>
        <div class="rowButtons flex">
            <a href="#" class="flex">Sign In</a>
            <a href="#" class="flex">SignUp</a>
        </div>
    </header>
    <section class="section flex">
        <div class="flex">
            <div class="row1">
                <h1>CryptoCurrencies</h1>
                <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money. We publish our holdings and obligations in real time.</p>
                <a href="#" class="flex">Get Started</a>
            </div>
            <div class="row2 flex">
                <img src="assets/images/cel.png" alt="">
            </div>
        </div>
    </section>
    <section class="informationHome flex">
        <div class="rowImage flex">
            <img src="assets/images/image.PNG" alt="">
        </div>
        <div class="rowText flex">
            <h2>Trusted & Transparent</h2>
            <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money. We publish our holdings and obligations in real time.</p>
            <a href="#" class="flex">Learn More</a>
        </div>
    </section>
    <div class="formFather">
        <img src="./assets/images/forma.png" alt="">
    </div>
    <section class="informationContainer flex">
        <div class="row1Information flex">
            <h2>World Class. Worldwide.</h2>
            <p>Send money instantly from anywhere to anywhere.</p>
        </div>
        <div class="rowTargets flex">
            <div class="targetInfo flex">
                <div class="titleInfo flex">
                    <div class="fatherImg flex">
                        <img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG48.png" alt="">
                    </div>
                    <h2> BitCoin</h2>
                </div>
                <div class="descriptionInfo flex">
                    <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money.</p>
                    <a href="#" class="flex">See more</a>
                </div>
            </div>
            <div class="targetInfo flex">
                <div class="titleInfo flex">
                    <div class="fatherImg flex">
                        <img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG48.png" alt="">
                    </div>
                    <h2> BitCoin</h2>
                </div>
                <div class="descriptionInfo flex">
                    <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money.</p>
                    <a href="#" class="flex">See more</a>
                </div>
            </div>
            <div class="targetInfo flex">
                <div class="titleInfo flex">
                    <div class="fatherImg flex">
                        <img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG48.png" alt="">
                    </div>
                    <h2> BitCoin</h2>
                </div>
                <div class="descriptionInfo flex">
                    <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money.</p>
                    <a href="#" class="flex">See more</a>
                </div>
            </div>
        </div>
        <div class="rowTargets flex">
            <div class="targetInfo flex">
                <div class="titleInfo flex">
                    <div class="fatherImg flex">
                        <img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG48.png" alt="">
                    </div>
                    <h2> BitCoin</h2>
                </div>
                <div class="descriptionInfo flex">
                    <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money.</p>
                    <a href="#" class="flex">See more</a>
                </div>
            </div>
            <div class="targetInfo flex">
                <div class="titleInfo flex">
                    <div class="fatherImg flex">
                        <img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG48.png" alt="">
                    </div>
                    <h2> BitCoin</h2>
                </div>
                <div class="descriptionInfo flex">
                    <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money.</p>
                    <a href="#" class="flex">See more</a>
                </div>
            </div>
            <div class="targetInfo flex">
                <div class="titleInfo flex">
                    <div class="fatherImg flex">
                        <img src="http://pngimg.com/uploads/bitcoin/bitcoin_PNG48.png" alt="">
                    </div>
                    <h2> BitCoin</h2>
                </div>
                <div class="descriptionInfo flex">
                    <p>Uphold is fully reserved. Unlike banks, we don’t loan out your money.</p>
                    <a href="#" class="flex">See more</a>
                </div>
            </div>
            
        </div>
    </section>
    <script src="assets/js/app.js"></script>
</body>
</html>